*.pyc
/NetPyNE/HHTut/*.pkl
*.dat
/NetPyNE/HHTut/HHTut.net.nml
/NetPyNE/HHTut/HHTut_plot_2Dnet.png
/NetPyNE/HHTut/HHTut_raster.png
/NetPyNE/HHTut/HHTut_traces.png
/NetPyNE/HHTut/LEMS_HHTut.xml
/notebooks/.ipynb_checkpoints
/simulators/brian2_example.png
*_code.gen.c
*_code.gen.so
/simulators/eden_example.png
/simulators/.ipynb_checkpoints
/notebooks/HH/.ipynb_checkpoints/
/NeuroML2/ACnet2/*.mod
*_nrn.py
arm64/.libs/libnrnmech.so
arm64
/NeuroML2/ACnet2/*.hoc
/NeuroML2/ACnet2/simulator.props
